.translate {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  .valueText {
    width: 250px;
  }

  input {
    height: 38px;
    font-size: 14px;
    padding: 0 10px;
    margin-right: 20px;
    border: none;
  }

  button {
    height: 40px;
    border-radius: 0px;
    font-size: 14px;
  }
}
.translate-response {
  background-color: rgb(28, 28, 28);
  border-radius: 15px;
  border: solid 1px rgb(81, 81, 81);
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
  width: 60%;

  .translate-title {
    text-align: left;
    margin: 15px;
  }

  p {
    letter-spacing: 1px;
    color: #ffffff;
  }

  .placeholder {
    color: #444444;
  }
}
